<html>

<head>
	<title>vue-practica</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" >

</head>

<body>



<div id="app" class="container">
	<h4>Marcas de autos</h4>
	<ul>
		
		<li v-for="carro of carros" v-if="!carro.vendido">
			{{ carro.marca }} {{ carro.modelo }}<hr>
		
		</li>
		
	</ul>
</div>




<footer style="background-color:#a9dfff;margin-top: 60px;"><center> <b>- - - - &copy;José Pereira Vue_2020 - - - -</b></center></footer>

<script src="js/vue/vue.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

	var vm = new Vue({
		el:"#app",
		data:{
			carros:[
				{
					marca:'Lamborghini',
					modelo:'Gallardo',
					vendido: false
				},
				{
					marca:'Ferrari',
					modelo:'Enzo',
					vendido: false
				},
				{
					marca:'Mclaren',
					modelo:'P1',
					vendido:true
				},
				{
					marca:'Bugatti',
					modelo:'Veyron',
					vendido: false
				}					]
		}
	
		
	});

</script>

</body>

</html>