<html>

<head>
	<title>vue-practica</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" >

</head>

<body>



<div id="app" class="container">
	{{ $data }}<br><br>
	<h5>¿Has trabajado con VUE.js ?</h5>

	<div class="radio">
		<label class="radio-inline">
		<input type="radio" v-model="vue.exp"  :value="true">
		SI
		</label>
		<label class="radio-inline">
		<input type="radio" v-model="vue.exp" :value="false">
		NO
		</label>
	</div>

	<template v-if="vue.exp">

		<div  class="form-group">
			<label for="vue_years"><b>Cuantos años tienes de experiancia en vue ?</b></label>
			<input type="number" v-model="vue.years" class="form-control">
		</div>

		<div v-if="vue.years < 2" class="form-group">
			<label ><b>Que te motivo aprender vue ?</b></label>
			<textarea class="form-control" v-model="vue.description" rows="4" placeholder="Descripcion"></textarea>
		</div>

		<div v-else class="form-group">
			<label for="vue_years"><b>Cuentanos tu experiencia con vue ?</b></label>
			<textarea class="form-control" v-model="vue.description" rows="4" placeholder="Descripcion" ></textarea>
		</div>
		<p v-if="descripcionError != ''" style="color:red;" >{{ descripcionError }}</p>

	</template>

</div>
<footer><br><br><center> <b>- - - - &copy;José Pereira Vue_2020 - - - -</b></center></footer>

<script src="js/vue/vue.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

	var vm = new Vue({
		el:"#app",
		data:{
			vue:{
				exp:null,
				years:0,
				description:''
			}
		},
		computed:{
			descripcionError:
				function (){
					var val = this.vue.description.trim();
					if (val=='') {
						return 'Campo obligatorio!!!'
					}
					if (val.length>20) {
						return 'Descripcion debe tener menos de 20 caracteres!'
					}
					if (val.length<5) {
						return 'Descripcion debe tener mas de 5 caracteres!'
					}
			}
		}
		
	});
	vm.nombre = 'Jose Pereira';

</script>

</body>

</html>